on:
  pull_request:
    branches: [ main ]
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  tests:
    runs-on: ubuntu-latest
    steps:    
      - name: Checkout
        uses: actions/checkout@v5
      - uses: ./.github/actions/setup

      - name: Run tests
        run: devenv test

  build:
    runs-on: ubuntu-latest
    needs: tests
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - uses: ./.github/actions/setup

      - name: Build container images
        run: devenv tasks run build:release

